<header class="masthead">
<div class="container position-relative" >
<div class="row justify-content-center">
    <div class="col-xl-6">
        <div class="text-center text-white">
            <form class="form-subscribe" id="contactForm" method="get" action="{{ url_for('main.search_book') }}">
                <div class="row" style="margin-top:80px;">
                    <div class="col">
                        <input class="form-control form-control-lg" name="search_book_name" placeholder="찾으시는 도서를 입력해주세요.">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary btn-lg" id="submitButton" type="submit">검색</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</header>